<!DOCTYPE html>
<html lang="ru-RU"> <!-- браузер сможет более корректно расставлять переносы -->
<head>
  <meta charset="UTF-8">
  <!-- Просим IE переключиться в последний режим -->
  <meta http-eqiv="X-UA-Compatible" content="IE=edge">
  <!-- Корректное масштабирование на разных устройствах, initial-scale - для адаптива -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <!-- SEO -->
  <meta name="description" content="Portfolio frontend developer Efimov Maxim">
  <meta name="keywords" content="Portfolio frontend developer Efimov Maxim">
  <meta name="author" content="Efimov Maxim">
  <!-- favicon -->
  <link rel="apple-touch-icon" sizes="57x57" href="{{ config.base_url }}app/favicon/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ config.base_url }}app/favicon/apple-touch-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ config.base_url }}app/favicon/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ config.base_url }}app/favicon/apple-touch-icon-76x76.png">
  <link rel="icon" type="image/png" href="{{ config.base_url }}app/favicon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ config.base_url }}app/favicon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="{{ config.base_url }}app//manifest.json">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#db4747">
  <!-- CSS -->
  <!-- bower:css -->
  <link rel="stylesheet" href="{{ config.base_url }}app/bower/normalize-css/normalize.css">
  <link rel="stylesheet" href="{{ config.base_url }}app/bower/qtip2/jquery.qtip.css">
  <!-- endbower -->

  <link rel="stylesheet" href="{{ config.base_url }}app/css/main.css">
  <link rel="stylesheet" href="{{ config.base_url }}app/css/main-info.css">
  <link rel="stylesheet" href="{{ config.base_url }}app/css/contacts.css">
  <link rel="stylesheet" href="{{ config.base_url }}app/css/works.css">
  <link rel="stylesheet" href="{{ config.base_url }}app/css/enter.css">
  <!-- font CSS -->
  <link rel="stylesheet" href="{{ config.base_url }}app/fonts/Fira/fira.css">
  <link rel="stylesheet" href="{{ config.base_url }}app/fonts/Proxima-Nova/proxima.css">
  <!-- JS Modernizer-->
  <script src="{{ config.base_url }}app/bower/modernizr/modernizr.js"></script>
  <!-- JS google -->
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
